
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adineh</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
   <div class="container-fluid" style="min-height:500px;background-color:orangered">
       <div class="row" style="min-height:500px; background-color:blue">
           <div class="col-xs-12" style="min-height:500px; background-color:greenyellow">&nbsp;</div>
           <div class="col-xs-12" style="min-height:500px; background-color:blue">&nbsp;</div>
           <div class="col-xs-12" style="min-height:500px; background-color:greenyellow">&nbsp;</div>
           <div class="col-xs-12" style="min-height:500px; background-color:blue">&nbsp;</div>

       </div>
   </div>
    <script src="~/wwwroot/Scripts/jquery-1.10.2.min.js"></script>
     <script src="~/wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
