@model IEnumerable<Amoozeshgah.Domain.Entities.Menu>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-color:rgb(91, 192, 222);">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">سما</a>
    </div>
    <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> پروفایل من</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> تنظیمات</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="LogoutConfirm()"><i class="fa fa-sign-out fa-fw"></i> خروج</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @foreach (var menu in Model)
                {
                    <li>
                        <a href="#"><i class="@menu.CssClass" data-name="@menu.IconName" data-loop="true" data-duration="2000" data-color="#5bc0de" data-hovercolor="#FFFFFF" data-size="20"></i> @menu.Name<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            @foreach (var item in menu.MenuItems)
                            {
                                <li>
                                    @Html.ActionLink(item.Name, item.Action, item.Controller, new { Area = item.Area }, new{})
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

