
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ورود</title>
    <link href="~/wwwroot/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/wwwroot/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/wwwroot/Content/vazir-font.css" rel="stylesheet" />
    <style>
        .setHeight {
            line-height: 60px;
        }
    </style>
</head>
<body style="font-family: Vazir;">
<br /><br /><br />
<div class="col-md-4 col-md-offset-4">
    <img  class="img-responsive" src="~/wwwroot/images/sama2-title.png" />
</div>
    <div class="col-md-4 col-md-offset-4">
        <br />
        <a class="btn btn-default btn-block setHeight" href="/Account/StudentSignIn">ورود فراگیر</a>
        <br />
        <a class="btn btn-default btn-block setHeight" href="/Account/TeacherSignIn">ورود مدرس</a>
        <br />
        <a class="btn btn-default btn-block setHeight" href="/Account/EducationalCenterUserSignIn">ورود کاربر مرکز آموزشی</a>

    </div>
    <div class="col-md-4 col-md-offset-4"><img class="img-responsive" src="~/wwwroot/images/shadow.png" /></div>

    <div class="col-md-4 col-md-offset-4">
        <a class="btn btn-default btn-block setHeight" href="/Account/Administrator">ورود کاربر ستاد</a>
        <br />
        <a class="btn btn-default btn-block setHeight" href="/account/ProvinceSignIn">ورود کاربر استان</a>
        <br />
        <a class="btn btn-default btn-block setHeight" href="/Account/AreaSignIn">ورود کاربر ناحیه</a>
        <img class="img-responsive" src="~/wwwroot/images/shadow.png" />

    </div>
    <script src="~/wwwroot/bower_components/jquery/dist/jquery-1.10.2.min.js"></script>
    <script src="~/wwwroot/Scripts/bootstrap.rtl.min.js"></script>
</body>
</html>
