@model IEnumerable<Amoozeshgah.Domain.Entities.MaximumTuition>
@{
    ViewBag.Title = "تعیین سقف شهریه";
}

<div class="col-md-12">
    <table class="table datatable">
        <thead>
        <tr>
            <td>ناحیه</td>
            <td>از</td>
            <td>تا</td>
            <td></td>

        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span id="myModalbody">تعیین سقف شهریه</span>
                <hr/>
                <span id="studentRequestDetails"></span>
                <hr/>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script>


        $('.datatable').DataTable({
            bFilter: false,
            bInfo: false,
            ajax: {
                url: "/AdministratorArea/ManageMaximumTuitions/GetAll",
                type: "GET",
                datatype: "json"
            },
            columns: [
                { data: "Area" },
                { data: "FromJalali" },
                { data: "ToJalali" },
                {
                    data: "Id",
                    render: function(id) {
                        return `<div class='btn-group'><a class='btn btn-info btn-sm' href='#' onclick='tutuiondDetails(${id})'><i class='fa fa-fw fa-info-circle' aria-hidden='true'></i></a>`;
                    },
                    orderable: false,
                    width: "100px"
                }
            ],
            dom: "Bfrtip",
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> فایل اکسل',
                    className: "btn btn-outline btn-info",
                    exportOptions: { columns: 'th:not(:last-child)' }
                },
                {
                    extend: 'print',
                    text: '<i class="glyphicon glyphicon-print" aria-hidden="true"></i> چاپ',
                    className: "btn btn-outline btn-primary",
                    exportOptions: { columns: 'th:not(:last-child)' }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Persian.json"
            }
        });

        function tutuiondDetails(id) {

            if (id > 0) {
                $.ajax({
                    type: 'Post',
                    datatype: "json",
                    url: '/AdministratorArea/ManageMaximumTuitions/MaximumTutionDetails/',
                    data: { id: id },
                    success: function (detail) {
                        $("#studentRequestDetails").html(detail);
                        $('#myModal').modal('show');
                    },
                    error: function (e) {
                        alert("error");
                    }
                });
            }
            
        }
    </script>
}


