
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseNewLessonMessage</title>
</head>
<body>
    فراگیر محترم شما هیچ کلاسی انتخاب نکردید
    <br />

    <a href="#">بازگشت</a><br />
    <a href="/StudentArea/StudentCourses/SelectNewCuorse">انتخاب درس</a>
</body>
</html>
