
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRegisterDialog</title>
    <link href="~/wwwroot/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <style>
        #message-panel {
            min-height: 200px;
            margin-top: 160px;
            box-shadow: 2px 1px 20px 2px black;
            background-color: #dfe5ff;
        }
    </style>
</head>

<body>
<div class="col-xs-12 col-md-4 col-md-offset-4" id="message-panel">
    <center><h2>عملیات با موفقیت انجام شد</h2></center>
    <br /><br /><br /><hr/>
    <center><p><a href="#" class="btn btn-success">برو به لیست درس های من</a></p></center>
</div>
</body>
</html>
