<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Amoozeshgah.WebReferences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Amoozeshgah.WebReferences.Properties.Settings>
      <setting name="Amoozeshgah_WebReferences_Parsian_SaleService"
        serializeAs="String">
        <value>https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx</value>
      </setting>
      <setting name="Amoozeshgah_WebReferences_ir_shaparak_pec_OnlineMultiplexedSalePaymentService"
        serializeAs="String">
        <value>https://pec.shaparak.ir/NewIPGServices/MultiplexedSale/OnlineMultiplexedSalePaymentService.asmx</value>
      </setting>
    </Amoozeshgah.WebReferences.Properties.Settings>
  </applicationSettings>
</configuration>