
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_EssentialLayout</title>
    <link href="~/wwwroot/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/wwwroot/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/wwwroot/Content/vazir-font.css" rel="stylesheet" />
    <link href="~/wwwroot/Content/pages/shared.css" rel="stylesheet" />


</head>
<body>

    <script src="~/wwwroot/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/Scripts/bootstrap.rtl.min.js"></script>
</body>
</html>
