
@{
    ViewBag.Title = "عدم دسترسی";
    Layout = "~/Views/Shared/_LayoutTableLess.cshtml";
}

<div class="col-md-12">
    <div>
        این امکان فقط برای مراکز زبان خارجه امکان پذیر است
    </div>
</div>

